# GREP
alias grep="grep --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn,.idea,.tox}"
alias fgrep="fegrep --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn,.idea,.tox}"
alias egrep="egrep --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn,.idea,.tox}"

# GENERAL
alias c="clear"
alias e="exit"
alias g="git"
alias system-update="sudo apt-get update -yqq && sudo apt-get upgrade -yqq && sudo snap refresh"
alias cat="batcat --style=plain,header"
alias clipboard="xclip -sel clip"
alias week="date +%V"
alias localip="ifconfig wlp2s0"
alias externalip="curl ifconfig.me"
alias la="exa -lah"
alias ll="exa -lh"
alias ls="exa -G"
alias lsa="exa -lah"
alias fsf='vim "$(fd . -t f --full-path "$HOME/" | fzf -i)"'
alias fsd='cd "$(fd . -t d --full-path "$HOME/" | fzf -i)"'
alias find-large-files='du -h . | rg -e "[0-9,]*\.*[0-9,]+G"'
alias ai-shell='gh copilot suggest -t shell'
alias ai-gh='gh copilot suggest -t gh'
alias ai-git='gh copilot suggest -t git'

# NPM
alias pn="pnpm"
alias pnx="pnpm dlx"
alias ni="npm install"
alias nrs="npm run start -s"
alias nrd="npm run dev -s"
alias nrb="npm run build -s"
alias nrt="npm run test -s"
alias flush-npm="rm -rf node_modules package-lock.json pnpm-lock.yaml && npm install"
alias ncu-patch="ncu -ui --target patch"
alias ncu-minor="ncu -ui --target minor"
alias ncu-latest="ncu -ui --target latest"

# GIT
alias git="hub"
alias ga="git add ."
alias gb="git branch"
alias gs="git status"
alias gss="git status -s"
alias gp="git pull"
alias gf="git fetch"
alias gd="git diff"
alias gbd="git checkout develop"
alias gbm="git checkout master"
alias gpush="git push"
alias gl="git log"
alias gc="git commit -m"
alias gac="git add . && git commit -m"
alias standup="git standup -A 'date '+%Y-%m-%d' 00:00'"
alias i-standup-daily="(cd ~/IDcom && standup_range | generate_daily)"
alias clean-branches="git branch --merged | rg -v -e '(^\*|master|main|develop)' | xargs git branch -d"
alias deep-check-branches='find . -type d -name ".git" -execdir sh -c '\''cd "{}" && repo=$(basename "$(dirname "$(pwd)")") && branch=$(git symbolic-ref --short HEAD 2>/dev/null) && [ "$branch" != "develop" ] && echo "Repo: $repo is actually on branch $branch"'\'' \;'

# DOCKER
alias dps="docker ps --format 'table {{.ID}}\t{{.Image}}\t{{.RunningFor}}\t{{.Status}}\t{{.Names}}'"
alias dpsa="docker ps -a --format 'table {{.ID}}\t{{.Image}}\t{{.RunningFor}}\t{{.Status}}\t{{.Names}}'"
alias dkill='docker rm $(docker stop $(docker ps -aq))'
alias recursive-docker-up="find . -type d -name develop -exec bash -c 'cd '{}' && ./docker_up.sh' \;"
alias docker-watch-stats="watch -n 1 'docker stats --no-stream --format \"table {{.Name}}\t{{.Container}}\t{{.CPUPerc}}\t{{.MemUsage}}\" | sort -k 3 -h -r'"
alias docker-logs-current='docker logs -f $(basename "$PWD")'

# IDCOM
alias igs="idcom git status"
alias igc="idcom git clone"
alias igl="idcom git pull"
alias idu="idcom docker up"
alias idd="idcom docker down"
alias idbu="idcom db update"
alias icrm="cd ~/IDcom/CRM/pl.idcom.crm.front.app"
alias ipanel="cd ~/IDcom/PANEL/pl.idcom.panel.front"
alias ipanelold="cd ~/IDcom/PANEL/pl.idcom.panel.front.old"
alias ipanelstandup="ipanel && git standup"
alias iupdate="igl && idbu && idu"

# AATIoT
alias ags="aatiot git status"
alias agc="aatiot git clone"
alias agl="aatiot git pull"
alias adu="aatiot docker up"
alias add="aatiot docker down"
alias adbu="aatiot db update"
alias acrm="cd ~/AATIOT/CRM/pl.aatiot.crm.front.app"
alias apanel="cd ~/AATIOT/PANEL/pl.aatiot.panel.front"
alias apanelstandup="apanel && git standup"
alias aupdate="agl && adbu && adu"

# PHP
alias install-composers="find . -type d -name bin -exec bash -c 'cd '{}' && ./composer.sh' \; "

# DOTFILES
alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
alias dotfilesupdate="dotfiles ac '$(date +'%Y-%m-%d %H:%M:%S'): update dotfiles' && dotfiles push"

# SOURCES
alias sz="source ~/.zshrc"
