# GREP
alias grep="rg --hidden --glob '!.git/' --glob '!node_modules/' --glob '!.bzr/' --glob '!CVS/' --glob '!.hg/' --glob '!.svn/' --glob '!.idea/' --glob '!.tox/'"
alias fgrep="rg -F --hidden --glob '!.git/' --glob '!node_modules/' --glob '!.bzr/' --glob '!CVS/' --glob '!.hg/' --glob '!.svn/' --glob '!.idea/' --glob '!.tox/'"
alias egrep="rg -e --hidden --glob '!.git/' --glob '!node_modules/' --glob '!.bzr/' --glob '!CVS/' --glob '!.hg/' --glob '!.svn/' --glob '!.idea/' --glob '!.tox/'"

# GENERAL
alias c="clear"
alias e="exit"
alias cat="batcat --style=plain,header"
alias clipboard="xclip -sel clip"
alias week="date +%V"
alias localip="curl https://ipinfo.io/json"
alias externalip="curl ifconfig.me"
alias la="eza -lah"
alias ll="eza -lh"
alias ls="eza -G"
alias lsa="eza -lah"
alias fsf='file="$(fd . -t f --full-path "$HOME/" | fzf -i)" && [ -n "$file" ] && vim "$file"'
alias fsd='dir="$(fd . -t d --full-path "$HOME/" | fzf -i)" && [ -n "$dir" ] && cd "$dir"'
alias find-large-files='du -h . | rg -e "[0-9,]*\.*[0-9,]+G"'
alias cd="z"
alias system-update="sudo apt-get update -yqq && sudo apt-get upgrade -yqq && sudo snap refresh"
alias arrange-windows="sh ~/.scripts/arrange_windows.sh"

# NPM
alias pn="pnpm"
alias pnx="pnpm dlx"
alias ni="npm install"
alias nrs="npm run start -s"
alias nrd="npm run dev"
alias nrb="npm run build"
alias nrf="npm run fix"
alias nrt="npm run test"
alias clean-packages="rm -rf ./node_modules ./package-lock.json ./pnpm-lock.yaml ./yarn.lock ./bun.lockb ./dist ./out ./next ./build"
alias ncu-patch="ncu -ui --target patch"
alias ncu-minor="ncu -ui --target minor"
alias ncu-latest="ncu -ui --target latest"

# GIT
alias g="git"
alias git="hub"
alias ga="g a ."
alias gac="g a . && g c"
alias gb="g b"
alias gcb="g cb"
alias gcbn="g cbn"
alias gcbd="g cbd"
alias gcbm="g cbm"
alias gc="g c"
alias gd="g d"
alias gf="g f"
alias ggo="g go"
alias gl="g l"
alias gp="g p"
alias gpush="g push"
alias gs="g s"
alias gss="g ss"
alias standup="git standup -A 'date '+%Y-%m-%d' 00:00'"
alias i-standup-daily="(cd ~/IDcom && standup_range | generate_daily)"
alias deep-check-branches='deep_check_branches'

# GITHUB
alias ghmerge="gh pr create && gh pr merge"

# DOCKER
alias dps="docker ps --format 'table {{.ID}}\t{{.Image}}\t{{.RunningFor}}\t{{.Status}}\t{{.Names}}'"
alias dpsa="docker ps -a --format 'table {{.ID}}\t{{.Image}}\t{{.RunningFor}}\t{{.Status}}\t{{.Names}}'"
alias dkill='docker rm $(docker stop $(docker ps -aq))'
alias recursive-docker-up="find . -type d -name develop -exec bash -c 'cd '{}' && ./docker_up.sh' \;"
alias docker-watch-stats="watch -n 1 'docker stats --no-stream --format \"table {{.Name}}\t{{.Container}}\t{{.CPUPerc}}\t{{.MemUsage}}\" | sort -k 3 -h -r'"
alias docker-logs-current='docker logs -f $(basename "$PWD")'
alias lzd='lazydocker'

# IDCOM
alias igs="idcom git status"
alias igc="idcom git clone"
alias igl="idcom git pull"
alias idu="idcom docker up"
alias idd="idcom docker down"
alias idbu="idcom db update"
alias icrm="cd ~/IDcom/CRM/pl.idcom.crm.front.app"
alias ipanel="cd ~/IDcom/PANEL/pl.idcom.panel.front"
alias ipanelold="cd ~/IDcom/PANEL/pl.idcom.panel.front.old"
alias ipanelstandup="ipanel && git standup"
alias irestart="idcom docker down && idcom docker up"
alias iupdate="idcom git pull && idcom db update && idcom docker up"

# AATIoT
alias ags="aatiot git status"
alias agc="aatiot git clone"
alias agl="aatiot git pull"
alias adu="aatiot docker up"
alias add="aatiot docker down"
alias adbu="aatiot db update"
alias acrm="cd ~/AATIOT/CRM/pl.aatiot.crm.front.app"
alias apanel="cd ~/AATIOT/PANEL/pl.aatiot.panel.front"
alias apanelstandup="apanel && git standup"
alias arestart="aatiot docker down && aatiot docker up"
alias aupdate="aatiot git pull && aatiot db update && aatiot docker up"

# PHP
alias install-composers="find . -type d -name bin -exec bash -c 'cd \"{}\" && [ -f composer.sh ] && echo \"Executing in: {}\" && ./composer.sh' \;"

# DOTFILES
alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
alias dotfilesupdate="dotfiles ac '$(date +'%Y-%m-%d %H:%M:%S'): update dotfiles' && dotfiles push"

# SOURCES
alias sz="source ~/.zshrc"
