# ZSH
export ZSH="/home/$USER/.oh-my-zsh"

export PATH="/home/$USER/IDcom/DEVOPS/pl.idcom.devops.devtool/src:$PATH"
export PATH="/home/$USER/AATIOT/DEVELOP/pl.aatiot.develop.config/src/tool:$PATH"

export ANDROID_HOME=$HOME/Android/Sdk
export PATH=$PATH:$ANDROID_HOME/platform-tools
export JAVA_HOME="/usr/lib/jvm/java-14-openjdk-amd64/"
export PATH=$JAVA_HOME/bin:$PATH

export PATH="/home/$USER/.local/share/fnm:$PATH"
