function findtext {
  grep -rnIil "$1" . --color
}

function drm {
  docker stop "$1"
  docker rm "$1"
}

function lmc {
  cd "$(llama "$@")"
}

tcd() {
  if [ -d ${PWD}/$1 ]; then
    gnome-terminal --tab --working-directory=${PWD}/$1
  else      
    gnome-terminal --tab --working-directory=$1
  fi
}
