function findtext {
  grep -rnIil "$1" . --color
}

function drm {
  docker stop "$1"
  docker rm "$1"
}

function lmc {
  cd "$(llama "$@")"
}

tcd() {
  if [ -d ${PWD}/$1 ]; then
    tmux new-window -c ${PWD}/$1
  else      
    tmux new-window -c $1
  fi
}
