[Desktop Entry]
Type=Application
Exec=gnome-terminal
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[pl]=Terminal
Comment[pl]=Brak opisu
X-GNOME-Autostart-Delay=0
